html, body {
    background: #DFE0E2 url('img/background.jpg');
}
.twitter-timeline{
    margin-bottom: 20px;
}
.sidebar{
    margin-left: 25px;
    padding-top: 20px;
}
.error
{
    color:red;
}
.mainspan{
    margin-left: 9px;
    padding-top: 20px;
}

.right-form{
    margin-top: 10px;
}
#right-login-form
{
    margin-top: 20px;
    padding: 10px 10px;
    text-align: center;
    background: #F0F2F7;
    border-radius: 4px;
}
.qq-upload-success
{
    display: none;
}
#preview .right-button{
    position: relative;
    top:250px;
}
.avatar-preview
{
    border: 2px solid #08C;
    vertical-align: bottom;
    margin-left: 20px;
    margin-top: 20px;
}
.preview-block{
    margin: 10px ;
}
.right-form-textbox{
    width:160px;
}
.right-form-button{
    margin-top: 25px;
    margin-right: 10px;
}
.singUp-link{font-size: 90%;margin-top: 30px;}
.form-title{font-size: 120%; font-weight: bold; padding-bottom: 10px;}
.avatar {margin-bottom: 20px;}
.right-button {margin-right: 20px; margin-bottom: 10px;}
.content-border {
    border-radius: 4px;
    -webkit-box-shadow: 4px;
    -moz-box-shadow: 4px;
    -o-box-shadow: 4px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 0 10px 1px rgba(0,0,0,.05);
    -o-box-shadow: 0 0 10px 1px rgba(0,0,0,.05);
}

.footer
{
    border-top: 1px solid #E5E5E5;
    background-color: whiteSmoke;
    min-height: 100px;
   
}
.footer-column>ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
}
.footer-column .title{
    font-weight: bold;
    color: black;
}
.copyright {color: #08C; padding-top: 20px;}
.footer > a{
    color: #08C;
}
.footer-column
{
    margin: 5px 0px;
    
}
.carousel .item > img{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    max-height: 200px;
    max-width: 700px;
    min-height: 200px;
    min-width: 700px;
}
.banner {margin: 0 auto;}
.wrap {
    margin:0 auto; 
    max-width:960px; 
    min-height:100%;  
    box-shadow: #333 0 0 15px;
    background-color: white;
}
.hero-unit > p 
{
    text-align: justify;
    text-indent: 2em;
}
.soc-buttons >img 
{
    margin-left: 4px;
}
.news-item
{
    background-color: whitesmoke;
    margin: 10px 5px;
    min-height: 170px;
}

.news-title{
    font-size: 160%;
    font-weight: bold;

}
.news-title >a {
    padding-left: 20px;
}
.news-caption{
    float:left;
    margin: 0 5px 5px 0;
    width: 250px;
    height: 170px;
    min-width: 250px;
    max-width: 250px;

}
.news-read-more{
    font-size: 120%;
    margin-right: 20px;
}
.news-date {
    font-style: italic;

}
.news-main-title {
    text-align: center;
}
.news-content{
    margin: 0 10px;
    text-align: justify;

}

.right-buttons {
    margin: 10px 0 10px 0;
    width:  200px;
    margin-left: 10px ;
}

.list-item{margin: 5px;  background-color: whitesmoke;
           margin-right: 20px;overflow: hidden; position: relative;}
.faculty-list {margin-left: 20px; margin-bottom: 20px;}
.header-menu {margin-bottom: 0px;}
.faculti-list-item-content {position: relative;}
.faculti-list-item-name {font-size: 170%; margin:5px; color:#08C;}
.faculti-list-item-desc {margin-left: 110px; margin-right: 50px;}
.faculti-list-item-content img
{
    min-height: 100px;
    min-width: 100px;
}
.faulty-links {top: 70px;position: absolute;left: 110px;}
.alumni-list-data{margin-left: 110px;}
.alumni-list-item {height: 100px;}
.letters-pills > li > a {
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 1px;
    line-height: 14px;
}
.letters-pills {padding-left: 10px;}
.gift-list-item-info-block {position: absolute;}
.gift-list-item-name {color : #08C; 
                      margin-bottom: 5px; 
                      height: 40px; 
                      overflow: hidden;}
.gift-pict {margin-right: 5px;}
.gift-button-more{margin: 0px; margin-right: 10px;  margin-top: 5px;}
.gift-badge{position: relative; top: -90px;left:-99px}
.gift-progress-bar{margin-right: 10px; height: 15px; margin-bottom: 5px;}

.gift-info {background-color: #eee;margin:0; position: relative;}
.gift-picture {margin-right: 20px;}
.gift-bar {margin-right: 20px;}
.gift-text{
    margin: 0; 
    margin-top: 20px; 
    background-color: #fafafa
}
.gift-button{margin-right: 20px;}
.gift-title {
    font-size: 200%; 
    color:#08c; 
    margin: 5px auto; 
    text-align: center;
    font-weight: bold;
    line-height: 1;
    height: 85px;
}
.bars-and-buttons {
    position: absolute; 
    width: 400px; 
    top:120px;
    left:220px;
}
.gift-status{margin-right: 20px; font-weight: bold;}
.gift-text{
    min-height: 200px;
    margin-bottom: 20px; 
    border-color: #aaa;
}
.gift-text-inner {margin: 5px;}
.gift-report-button {
    position: absolute;
    top: 40px;
    width: 200px;
    left: 160px;
}
.gift-report{
    display: none;
    margin: 0px;
    margin-top: 25px;
}
.gift-status-pills {
    position: relative;
    top: -115px;
    left: 400px;
    margin: 0px;
}
.faculty-tabs{
    margin-bottom: 0px;
}

.qq-uploader
{
    left: 40%;
    top: 20px;
}
.qq-upload-button, .qq-upload-button-hover{
    background-color: #08C;
}